@property --gradient-angle {
  inherits: false;
  initial-value: 0deg;
  syntax: "<angle>";
}

@keyframes rotation {
  0% {
    --gradient-angle: 360deg;
  }

  50% {
    --gradient-angle: 0deg;
  }

  100% {
    --gradient-angle: 360deg;
  }
}

.dashboard {
  .card {
    background: var(--clr-bg-2);
    border: 0;
    color: var(--clr-font-2);
    cursor: pointer;

    //background: transparent;
    //.card-body, .card-img-top {
    //  opacity: 0;
    //}

    .text-muted {
      color: var(--clr-font-muted) !important;
    }
  }

  .col-md-4 > .card {
    &::before {
      background: conic-gradient(
        from var(--gradient-angle),
        var(--clr-odd-1) 0deg,
        var(--clr-odd-2) 112.5deg,
        var(--clr-odd-3) 228.75deg,
        var(--clr-odd-4) 360deg
      );
      border-radius: inherit;
      content: "";
      position: absolute;
      transition: filter 5s linear 0.5s;
      z-index: -1;
    }

    &:hover::before {
      animation: rotation 2s linear infinite;
      filter: blur(15px);
      inset: -1px;
    }
  }
}
