@property --gradient-angle {
  inherits: false;
  initial-value: 0deg;
  syntax: "<angle>";
}

@keyframes rotation {
  0% {
    --gradient-angle: 0deg;
  }

  100% {
    --gradient-angle: 360deg;
  }
}

.dashboard {
  .card {
    background: var(--clr-bg-2);
    border: 1px solid var(--clr-5);
    color: var(--clr-font-2);
    cursor: pointer;

    .text-muted {
      color: var(--clr-font-muted) !important;
    }

    &::before,
    &::after {
      background: conic-gradient(
        from var(--gradient-angle),
        var(--clr-3),
        var(--clr-4),
        var(--clr-5),
        var(--clr-4),
        var(--clr-3)
      );
      border-radius: inherit;
      content: "";
      inset: -0.075rem;
      position: absolute;
      z-index: -1;
    }

    &:hover::after {
      animation: rotation 2s linear infinite;
      filter: blur(0.75rem);
    }
  }
}
